<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <listeners>
		<listener class-name="com.qa.ExtentReporterNG.ExtentReporterNG" />
	</listeners>
  
  <test thread-count="5" name="Test">
   <classes>
      <class name="com.qa.Homepage.LoginTest"/>
      <class name="com.qa.Homepage.CreateContact"/>
      <class name="com.qa.Homepage.FailedTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
